<link rel="stylesheet" href="css/style3.css">

<<<<<<< HEAD
<ul>
  <% [ 'American Shorthair', 'Abyssynian', 'Russian Blue' ].each do |cat| %>
    <li class="cat <%= cat.downcase.gsub(' ','-') %>"><%= cat %></li>
  <% end %>
</ul>
=======
<div class="col-md-6">
	<p>Kinda parched and in need of a drink, grab a bottle and it'll make you wink</p>
	<p>-Coca Cola</p>
</div>

<div class="col-md-6">
	<img src="images/coke.jpeg">
</div>
>>>>>>> 8284be9689caa1bc886c287a751e1b7cfb016692
