<h1>These are the holidays in this month:</h1>

<% @holidays.each do |holiday| %>
	<ul>
		<% holiday.each do |search| %>
			<li> <%= search["name"] %> is on <%= search["date"] %> </li>
		<% end %>
	</ul>
<% end %>

<br>
<br>

<h1>These are the holidays in the month and year I was born in:</h1>

<% @holidays2.each do |holiday| %>
	<ul>
		<% holiday.each do |search| %>
			<li> <%= search["name"] %> is on <%= search["date"] %> </li>
		<% end %>
	</ul>
<% end %>
