<link rel="stylesheet" href="css/style3.css">

<p>Kinda parched and in need of a drink, grab a bottle and it'll make you wink</p>
<p>-Coca Cola</p>

  	<div class="container">
      <div class="row">
        <div class="col-md-6">
			<img src="images/coke.jpeg">
        </div>
      </div>
    </div>	