<link rel="stylesheet" href="css/style2.css">

<p>If you have a dog and need some food, we'll be sure to set the mood.</p>
<p>-Puppy Cannon</p>

  	<div class="container">
      <div class="row">
        <div class="col-md-6">
			<img src="images/puppy.jpeg">
        </div>
      </div>
    </div>	
