<link rel="stylesheet" href="css/style3.css">

<ul>
  <% [ 'American Shorthair', 'Abyssynian', 'Russian Blue' ].each do |cat| %>
    <li class="cat <%= cat.downcase.gsub(' ','-') %>"><%= cat %></li>
  <% end %>
</ul>